@font-face {
    font-family: Montserrat;
    src: url("fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: Montserrat;
    src: url("fonts/Montserrat-Bold.ttf");
}
body {
    margin: 0;
    font-family: Montserrat, sans-serif;
}
#main-container {
max-width: 1170px;
margin: 0 auto;
}
.main-header-logo span {
    font-size: 18px;
    color: rgb(56, 104, 210);
    margin-left: 10px;
}
#main-header-menu {
    margin-left: 264px;
}
#main-header-menu a.menu-item {
    font-size: 16px;
    font-family: MontserratBold, sans-serif;
    color:rgb(56, 104, 210);
    margin-right: 30px;
    padding: 5px 10px;
    text-decoration: none;
}
#main-header-menu a.menu-item:hover {
    border-bottom: 2px solid rgb(56, 104, 210) ;
}
#main-header-fhone {
    margin-left: 100px;
}
#main-header-phone span {
    font-size: 20px;
    font-family: MontserratBold, sans-serif;
    color:rgb(56, 104, 210);
    margin-left: 10px;
}
#main-header-phone span,
#main-header-phone img {
    vertical-align: middle;
}