body {  background-color: pink;
  display: flex 10px;
}
#nav-bar {
word-spacing: 10px;
text-align: right;
}
.nav-link {
  font-size: 24px;
  color: black; 
}
span {
  font-size: 24px;
}
